body {
  margin: 0;
}

h1 {
  font-size: 102px;
  font-weight: 400;
  letter-spacing: -2px;
  font-family: 'Roboto', sans-serif;

}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  letter-spacing: 1px;
  word-spacing: 14px;
  text-transform: uppercase;
  border-bottom: 5px solid;
  border-image: linear-gradient(to right, #d8a784 20%, transparent 0%) 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  font-size: 18px;
  margin: 0;
}

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0.2rem;
}

@keyframes enhance-header {
  to {
    background-color: rgba(0, 0, 0, 0.549);
    backdrop-filter: blur(5px);
    color: white;
  }
}

@keyframes fadeBackground {

  0%,
  100% {
    opacity: 0;
  }

  10%,
  50% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }
}

@keyframes bgScroll {
  0% {
    background-position: center top;
  }

  100% {
    background-position: center bottom;
  }
}